events {}

http {
    server {
        listen 443 ssl;
        server_name jesus-tuesta.com;

        ssl_certificate           /etc/nginx/certs/jesus-tuesta_com.crt;
        ssl_certificate_key       /etc/nginx/certs/jesus-tuesta_com.key;
        ssl_trusted_certificate   /etc/nginx/certs/chain.crt;

        location / {
            proxy_pass http://dash:8050;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }

    server {
        listen 80;
        server_name jesus-tuesta.com;
        return 301 https://$host$request_uri;
    }
}